{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
   
  
  <title>Web Certificada</title>
  
  <!-- Custom fonts for this template-->
  <link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'base/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- weas para borrar -->
  <link href="{% static 'otros/css/lightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'otros/css/wea.css' %}">

</head>



<body>
  {% block wea %}
  <!--
  <nav class="navbar navbar-expand navbar-light bg-dark topbar  static-top shadow">
    
    <a class="navbar-brand" href="#">
      <img src="{% static 'base/img/django2.png' %}" width="50" height="50" alt="">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="desplegable" href="/pagina">
              Categorias XXX
          </a>
          <div class="dropdown-menu">
              {% for category in categories %}

              <a class="dropdown-item" href="{% url 'category' category.0 %}">{{category.1}}</a>

              {% endfor %}
              
          </div>
          
      </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'nopor' %}">Genshin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'miapp:api' %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'miapp:api2' %}">Sismos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        
        <div class="topbar-divider d-none d-sm-block"></div>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'userpage' %}">Userpage</a>
        </li>
        {% endif %}

        <li class="nav-item  dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            @ {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Salir</a>
          </div>
        </li>
      </ul>
    </div>
    
    -- Sidebar Toggle (Topbar) --
    



    -- Topbar Search --
    
    
      
   
  </nav>
  -->
  {% include 'base/nav.html' %}


  {% endblock %}

 



  {% block content %}
  {% endblock %}




  <!-- Footer -->
  {% block footer %}

  
  

  {% include 'base/footer.html' %}

  {% endblock %}
  <!-- End of Footer -->

  
  <!-- End of Content Wrapper -->

  
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  {% block login %} {% endblock %}

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrando Sesion</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"> Estas seguro de salir??</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'miapp:logout' %}">Salir</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'base/js/sb-admin-2.min.js' %}"></script>
  
  <!-- weas para borrar -->
  <script src="{% static 'base/otros/js/lightbox-plus-jquery.min.js' %}"></script>
  <script src="{% static 'base/otros/js/lightbox.min.js' %}"></script>
  <script src="{% static 'base/otros/js/app.js' %}"></script>

  {% block js_page %}{% endblock %}
</body>

</html>