{% extends 'base/base.html' %}




{% block content %}
    
<!--
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                {% for i in wea %}
                <div class="col-lg-4 col-md-6 mb-4" data-aos='fade-up'>
                    <figure class="block-4-image">
                        <a href="#" ><img src="https://media.istockphoto.com/vectors/filled-shopping-cart-symbol-icon-vector-id1199519164?k=20&m=1199519164&s=170667a&w=0&h=cPuFb8wTwNazlnEwwDmlewGFJPRHKCWhW6DAn98hwYU=" class="img-fluid"></a>
                    </figure>
                    <div class="block-4-text p-4">
                        <a href="#"><h3>{{i.product_name}}</h3></a>          
                        <p class="mb-0">{{i.price}}</p>
                    </div>
                </div>             
                {% endfor %}
            </div>   
        </div>
    </div>
-->


    {% include 'bases/tienda.html' %}

    


{% endblock %}