<p> Home | <b>All products</b></p>
        <div class="border-bottom pb-2 ml-2">
            <h4 id="burgundy">Filters</h4>
        </div>
        <div class="py-2 border-bottom ml-3">
            <h6 class="font-weight-bold">Categories</h6>
            <div id="orange"><span class="fa fa-minus"></span></div>
            {% for i in wea %}
            <form>
                <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan"> {{i.department}}
                        </label> </div>
                
            </form>
            {% endfor %}
        </div>