
<nav aria-label="...">
    <ul class="pagination">
        {% if articles.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
      <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
      <li class="page-item active">
      {% for i in articles.paginator.page_range %}
        {% if articles.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }} </a></li>
        {% endif %}
        </span>
      </li>
      {% endfor %}
      <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
        {% if articles.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ articles.next_page_number }}">Next</a>
            </li>
       {% endif %}
    </ul>
</nav>
