
{% load static %}

{% block content %}
        
        
        <!--
        <div class="btn-group">
            {% for category in categories %}
            
            <li>
              <a class="btn btn-danger" href="{% url 'category' category.0 %}">{{category.1}}</a>
            </li>
        
            {% endfor %}         
        </div>
    -->
        
    
        
        <div class="row">
            <div class="col-9">
                <div class="row">

                    {% for article in articles %}
                        {% if article.image != 'null' and article.image.url|length >= 1 %}
                        <div class="col-md-3 col-sm-12 col-lg-4">
                            <div class="card" style="width: 100%">
                                
                                <img src="{{article.image.url}}" style="width:100%;" class="card-img-top">
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
{% endblock %}