{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block wea %}{% endblock %}
{% block top_bar %}{% endblock %}
{% block page_content %}{% endblock %}
{% block footer %}{% endblock %}


{% block login %}
<div class="container" >
    
    <!-- Outer Row -->
    <div class="row justify-content-center" >

        <div class="col-xl-12 col-lg-12 col-md-9" >

            <div class="card o-hidden border-0 shadow-lg my-5" >
                
                    <!-- Nested Row within Card Body -->
                    
                        
                        
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Registro de Usuarios</h1>
                                    <hr>
                                    <br>
                                    
                                </div>
                                
                                <form class="user" method="POST">
                                    {% csrf_token %}
                                    <!--
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    -->
                                    {{ form.as_p  }}
                                    

                                    <br>


                                    <button type="submit" class="btn btn-warning btn-user btn-block">Registrar</button>
                                    <a href="/login" class="col-xl-12 link-dark">Volver al login</a>


                            </div>
                        </div>
                    
                
            </div>

        </div>

    </div>

</div>
{% endblock %}